body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

h1 {
    font-weight: bold ;
    font-size: 48px;
    color: #00a;
    text-align: center;
    padding: 1%;
}

.content {
    background-color: beige;
    min-width: 80%;
    min-height: auto;
    box-sizing: border-box;
    padding: 15px;
}

.annotation {
    border: 2px solid black;
    text-align: center;
    display: inline;
    float: right;
    width: 150px;
    background: plum;
} 

p {
    margin: 24px 15px 15px 15px;
}

#first, #second, #third {
    margin: 15px;
    min-height: 100px;
    max-height: 250px;       
    overflow: auto;
}

#first {
    background-color: cadetblue; 
}

#second {
    background-color: yellowgreen;
}

#third {
    background-color: maroon;
    
}

